.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form-card {
  width: 550px;
  height: 500px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.login-title-div {
  margin-bottom: 30px;
}

.login-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: linear-gradient(to bottom, #fff, rgb(255, 242, 0), rgba(19,45,70,1));
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.div-input {
  display: flex;
  flex-direction: column;
}

.div-input input:hover {
  border: 4px solid yellow;
}

.div-input label {
  margin-bottom: 10px;
  color:rgb(255, 242, 0);
}

.align {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.div-input input {
  width: 400px;
  height: 30px;
  margin-bottom: 30px;
  padding: 6px;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 3px;
}

.btn-register-login {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: rgb(255, 242, 0);
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 45px;
  transition: 1000ms;
  backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(14px) saturate(200%);
  background-color: rgba(87, 91, 104, 0.43);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 50px;
}

.btn-register-login:hover {
  color: rgb(255, 242, 0);
  transition: 1000ms;
  padding: 8px 75px;
  cursor: pointer;
}

@media (min-width: 1400px) {
  .form-card {
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  .form-card {
    width: 340px;
    height: 430px;
  }

  .div-input input {
    width: 240px;
  }

  .btn-register-login {
    width: 230px;
  }
}
