.title {
  margin-top: 7%;
  margin-bottom: 30px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 500px;
}

td {
  padding: 5px;
}

td.esquerda {
  text-align: center;
  width: 100px;
}

th {
  height: 30px;
}

th.padd {
  padding: 5px;
}

@media (max-width: 500px) {
  table {
    width: 300px;
  }
}
